<h2>Edit student</h2>
<form method=POST"" action="/hogwarts/<%= @student.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First name:</label>
      <input type="text" name="first_name" id="first_name" value="<% @student.first_name %>" id="first_name"/>
    </div>

    <!-- ETC -->
    <!-- ADD A BUTTON -->
  </div>
</form>
